.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    padding: 0 14px;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}