.container {
    border: 1px solid black;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.link {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s;
}

.link:hover {
    color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination button {
    padding: 0 14px;
}

.pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}